* {
    margin: 0;
    padding: 0;
    text-align: center;
}
h1 {
    background-color: rgb(43, 185, 107);
    height: 5rem;
    line-height: 5rem;
    border: 4px solid black;
}
.choise {
    height: 170px;
    width: 170px;  
    display: flex;
    justify-content:center;
    align-items: center;
    border-radius: 50%;
    
}
.choise:hover {
    cursor: pointer;
    opacity: 0.4;
}
img {
    height: 155px;
    width: 155px;
    object-fit: cover;
    border-radius: 50%;
    background-color:red;
}
.choises {
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 3.5rem;
    margin-top: 5rem;
}
.score-board {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    margin-top: 4rem;
    gap: 8rem;
}
#com-score , #user-score {
    font-size: 4rem;
}
.msg-con {
    margin-top: 4rem;
}
#msg { 
    
    background-color: black;
    color: aqua;
    font-size: 2.5rem;
display: inline;
padding: 0.8rem;
border-radius: 1.5rem;
}
.name {
    display: flex;
    justify-content: center;
    gap: 85px;
    margin-top: 1rem;
}
.nme {
    font-size: 1.6rem;
}
#two {
translate: 1.3rem;
}
#three {
    translate: 1.1rem;
}